<nav role="navigation" aria-label="Main">
  {% include 'components/icon/menu.html' %}

  <ul id="primary-navigation" class="primary-navigation" data-state="closed">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'common:index' %}"
      
        {% if request.resolver_match.namespace == 'common' %}
        aria-current="page"
        {% endif %}
        > 
        Home 
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin:index' %}"

        {% if request.resolver_match.namespace == 'admin' %}
        aria-current="page"
        {% endif %}
        > 
        Admin 
      </a>
    </li>
  </ul>
</nav>
